@charset "utf-8";

* {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

body {
    /*  */
}

header {
    color: white;
    background-color: #8dbaff;
    text-indent: 1em;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    text-indent: 3%;
}

h2 {
    text-indent: 6%;
}

p {
    margin-left: 9%;
}

a {
    text-decoration: none;
    color: blue;
}

form {
    margin-left: 5%;
}

ol {
    margin-left: 5%;
}

a.index {
    text-decoration: none;
    color: blue;
    margin-left: 5%;
}