<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>アーティスト一覧</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>アーティスト一覧</h1>
      <p>
          <form method="POST" action="{{url_for('artists_filtered')}}">
          アーティスト名: <input type="text" name="name_filter" value="{{ request.form.name_filter or '' }}"><br>
          <input type="submit" value="絞り込む"><br>
          （ワイルドカード文字として%が使えます）
        </form>
      </p>
      <p>
        <a href="{{url_for('artist_add')}}">アーティスト追加</a><br>
        <hr style="margin-top: 20px; margin-bottom: 20px;">
      </p>
      {% for artist in artists %}
        <p>
          アーティスト名: {{ artist.name or ''}}<br>
          所属グループ: {{ artist.group_name or 'なし'}}<br>
          <a href="{{ url_for('artist', id=artist.id) }}" >詳細</a>
        </p>
      {% endfor %}
  </body>
  <hr style="margin-top: 20px; margin-bottom: 20px; border-top: 2px solid black; width: 100%;">
  <footer style="display: flex; justify-content: center; gap: 20px; align-items: center; margin-top: 20px; margin-bottom: 20px;">
    <a href="{{url_for('index')}}">TOP</a>
    <a href="{{url_for('cds')}}">CD</a>
    <a href="{{url_for('songs')}}">楽曲</a>
    <a href="{{url_for('artists')}}">アーティスト</a>
    <a href="{{url_for('concerts')}}">コンサート</a>
  </footer>
</html>