<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{artist.name}}</title>
  </head>
  <body>
    <h1>アーティスト詳細</h1>

    <p>
      アーティスト名: {{artist.name}}<br>
      グループ名: {{artist.group_name}}<br>
    <p>
      {#<a href="{{url_for('artist_edit', id=artist.id)}}">編集</a><br>#}
      <a href="{{url_for('artist_del', id=artist.id)}}">削除</a>
    </p>
    <p>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('artists')}}">アーティスト一覧</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
</html>
