<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{artist.name}}</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>アーティスト詳細</h1>
    <h2>アーティスト情報</h2>
      <p>
        アーティストID: {{artist.id}}<br>
        アーティスト名: {{artist.name}}<br>
        グループ名: {{artist.group_name}}
      </p>
      <p>
        <a href="{{url_for('artist_edit', id=artist.id)}}">編集</a><br>
        <a href="{{url_for('artist_del', id=artist.id)}}">削除</a>
      </p>
    <h2>参加CD</h2>
      <ul>
        {% for cd in cds %}
          <li><a href="{{ url_for('cd', id=cd.cd_id) }}">{{ cd.cd_title or 'タイトルなし' }}</a>
        {% endfor %}
      </ul>
    <h2>参加コンサート</h2>
      <ul>
        {% for concert in concerts %}
          <li><a href="{{ url_for('concert', id=concert.concert_id) }}">{{ concert.concert_title or 'タイトルなし' }}</a>
        {% endfor %}
      </ul>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('artists')}}">アーティスト一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
  <footer>
    <hr style="margin-top: 20px; margin-bottom: 20px;">
    <a href="{{url_for('index')}}" style="margin-left: 20%;">TOP</a>
    <a href="{{url_for('cds')}}" style="margin-left: 5%;">CD</a>
    <a href="{{url_for('songs')}}" style="margin-left: 5%;">楽曲</a>
    <a href="{{url_for('artists')}}" style="margin-left: 5%;">アーティスト</a>
    <a href="{{url_for('concerts')}}" style="margin-left: 5%;">コンサート</a>
  </footer>
</html>
