<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>アーティスト削除</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>アーティスト削除</h1>
      <p>
        アーティスト名: {{artist.name}}<br>
        本当にこのアーティストを削除しますか？<br>
        <form method="POST" action="{{url_for('artist_del_execute', id=id)}}">
          <input type="submit" value="削除実行">
        </form>
      </p>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('artist', id=artist.id)}}">アーティスト詳細に戻る</a><br>
      <a href="{{url_for('artists')}}">アーティスト一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
  <footer>
    <hr style="margin-top: 20px; margin-bottom: 20px;">
    <a href="{{url_for('index')}}" style="margin-left: 20%;">TOP</a>
    <a href="{{url_for('index')}}" style="margin-left: 5%;">CD</a>
    <a href="{{url_for('index')}}" style="margin-left: 5%;">楽曲</a>
    <a href="{{url_for('index')}}" style="margin-left: 5%;">アーティスト</a>
    <a href="{{url_for('index')}}" style="margin-left: 5%;">コンサート</a>
  </footer>
</html>
