<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>CD情報編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>CD情報編集</h1>
      <p>
        <form method="POST"
              action="{{url_for('cd_edit', id=cd.id)}}">
          CDタイトル: <input type="text" name="title" value="{{cd.title}}"><br>
          品番: {{cd.id}}<br>
          シリーズ: <input type="text" name="series_name"
                        value="{{cd.series_name}}"> - <input type="text" name="order_in_series"
                        value="{{cd.order_in_series or ''}}"><br>
          発売日: <input type="date" name="issued_date"
                      value="{{cd.issued_date}}"><br>
          <input type="submit" value="決定">
        </form>
      </p>
      <p>
        <br>
        <a href="{{url_for('cd', id=cd.id)}}">CD詳細に戻る</a><br>
      </p>
    <hr style="margin-top: 20px; margin-bottom: 20px; border-top: 2px solid black; width: 100%;">
  <footer style="display: flex; justify-content: center; gap: 20px; align-items: center; margin-top: 20px; margin-bottom: 20px;">
    <a href="{{url_for('index')}}">TOP</a>
    <a href="{{url_for('cds')}}">CD</a>
    <a href="{{url_for('songs')}}">楽曲</a>
    <a href="{{url_for('artists')}}">アーティスト</a>
    <a href="{{url_for('concerts')}}">コンサート</a>
  </footer>
  </body>
</html>
