<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>コンサート追加</title>
  </head>
  <body>
    <h1>コンサート追加</h1>

    <p>
      <form method="POST" action="{{url_for('concert_add_execute')}}">
        コンサートID: <input type="text" name="id"><br>
        タイトル: <input type="text" name="title"><br>
        開催日: <input type="text" name="held-date"><br>
        <input type="submit" value="追加">
      </form>
    </p>

    <p>
      <hr style="margin-top: 20px; margin-bottom: 20px;"><br>
      <a href="{{url_for('concerts')}}">コンサート一覧</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
</html>