<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>コンサート情報編集</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>コンサート情報編集</h1>
      <p>
        <form method="POST"
              action="{{url_for('concert_edit', id=concert.id)}}">
          コンサートID: {{concert.id}}<br>
          コンサートタイトル: <input type="text" name="title" value="{{concert.title}}"><br>
          開催日: <input type="date" name="held_date"
                      value="{{concert.held_date}}"><br>
          <input type="submit" value="決定">
        </form>
      </p>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('concert', id=concert.id)}}">コンサート詳細に戻る</a><br>
      <a href="{{url_for('concerts')}}">コンサート一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
    <footer>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('index')}}" style="margin-left: 20%;">TOP</a>
      <a href="{{url_for('index')}}" style="margin-left: 5%;">CD</a>
      <a href="{{url_for('index')}}" style="margin-left: 5%;">楽曲</a>
      <a href="{{url_for('index')}}" style="margin-left: 5%;">アーティスト</a>
      <a href="{{url_for('index')}}" style="margin-left: 5%;">コンサート</a>
    </footer>
  </body>
</html>
