<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{concert.title}}</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>コンサート詳細</h1>
    <h2>コンサート情報</h2>
      <p>
        タイトル: {{concert.title}}<br>
        開催日: {{concert.held_date}}<br>
      </p>
      <p>
        <a href="{{url_for('concert_edit', id=concert.id)}}">編集</a><br>
        <a href="{{url_for('concert_del', id=concert.id)}}">削除</a>
      </p>
    <h2>セットリスト</h2>
      <ol>
        {% for performance in performances %}
          <li><a href="{{url_for('song', id=performance.song_id)}}">{{performance.song_title}}</a>&emsp;歌: {{performance.artists}}<br>
        {% endfor %}
      </ol>
      <p>
        <a href="{{url_for('setlist_edit', id=concert.id)}}">セットリストを編集</a><br>
        <a href="{{url_for('setlist_add', id=concert.id)}}">セットリストに追加</a>
        <br>
        <a href="{{url_for('setlist_del', id=concert.id)}}">セットリストを全て削除</a><br>
        （セットリストを個別に削除することはできません）
      </p>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('concerts')}}">コンサート一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
    <hr style="margin-top: 20px; margin-bottom: 20px; border-top: 2px solid black; width: 100%;">
    <footer style="display: flex; justify-content: center; gap: 20px; align-items: center; margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('index')}}">TOP</a>
      <a href="{{url_for('cds')}}">CD</a>
      <a href="{{url_for('songs')}}">楽曲</a>
      <a href="{{url_for('artists')}}">アーティスト</a>
      <a href="{{url_for('concerts')}}">コンサート</a>
    </footer>
  </body>
</html>
