<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>コンサート追加</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>コンサート追加</h1>
      <p>
        <form method="POST" action="{{url_for('concert_add_execute')}}">
          コンサートID: <input type="text" name="id"><br>
          タイトル: <input type="text" name="title"><br>
          開催日: <input type="text" name="held-date"><br>
          <input type="submit" value="追加">
        </form>
      </p>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('concerts')}}">コンサート一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
    <footer>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('index')}}" style="margin-left: 20%;">TOP</a>
      <a href="{{url_for('cds')}}" style="margin-left: 5%;">CD</a>
      <a href="{{url_for('songs')}}" style="margin-left: 5%;">楽曲</a>
      <a href="{{url_for('artists')}}" style="margin-left: 5%;">アーティスト</a>
      <a href="{{url_for('concerts')}}" style="margin-left: 5%;">コンサート</a>
    </footer>
  </body>
</html>