<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>セットリスト編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>セットリスト編集</h1>
    <p>
      登録する楽曲やアーティストは登録済である必要があります。<br>
      <a href="{{url_for('song_add')}}">楽曲追加</a>
      <a href="{{url_for('artist_add')}}">アーティスト追加</a>
    </p>
    <p>
      コンサート名: {{concert.title}}<br>
      <a href="{{url_for('setlist_add', id=concert.id)}}">セットリストに追加</a>
    </p>
    {% for performance in performances %}
    <form method="POST"
          action="{{url_for('setlist_edit', id=concert.id)}}">
    <p>
    <input type="hidden" name="id" value="{{concert.id}}">
    <input type="hidden" name="number_of_order" value="{{performance.number_of_order}}">
    <input type="hidden" name="song_id" value="{{performance.song_id}}">
    <input type="hidden" name="artist_id" value="{{performance.artist_id}}">
    セットリスト番号: {{performance.number_of_order or ''}}<br>
    楽曲: <select name="new_song_id">
      {% for song in songs %}
        <option value="{{ song.id }}" {% if song.id == performance.song_id %}selected{% endif %}>
          {{ song.title }}
        </option>
      {% endfor %}
    </select><br>
    アーティスト: <select name="new_artist_id">
      <option value='delete'>トラックからこのアーティストを削除</option>
      {% for artist in artists %}
      <option value="{{ artist.id }}" {% if artist.id == performance.artist_id %}selected{% endif %}>
        {{ artist.name }}
      </option>
      {% endfor %}
    </select>
    <br><a href="{{ url_for('performance_artist_edit', id=concert.id, number_of_order=performance.number_of_order) }}">アーティストを追加</a>
    <br><br><input type="submit" value="セットリスト番号{{performance.number_of_order}}に対する編集を確定">
    </p>
    </form>
    {% endfor %}
    <hr style="margin-top: 20px; margin-bottom: 20px; border-top: 2px solid black; width: 100%;">
    <footer style="display: flex; justify-content: center; gap: 20px; align-items: center; margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('index')}}">TOP</a>
      <a href="{{url_for('cds')}}">CD</a>
      <a href="{{url_for('songs')}}">楽曲</a>
      <a href="{{url_for('artists')}}">アーティスト</a>
      <a href="{{url_for('concerts')}}">コンサート</a>
    </footer>
  </body>
</html>
