<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>セットリストに追加</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>セットリストに追加</h1>
      <p>
        <form method="POST" action="{{url_for('setlist_add_execute', id=concert.id)}}">
          コンサートタイトル: {{concert.title}}<br>
          セットリスト番号: <input type="text" name="number_of_order"><br>
          楽曲: <select name="song_id">
            {% for song in songs %}
              <option value="{{song.id}}">{{song.title}}</option>
            {% endfor %}
          </select><br>
          アーティスト: <select name="artist_id">
            {% for artist in artists %}
              <option value="{{artist.id}}">{{artist.name}}</option>
            {% endfor %}
          </select><br>
          <input type="submit" value="追加">
        </form>
        <a href="{{ url_for('concert', id=concert.id) }}">コンサート詳細に戻る</a>
      </p>
      <p>
        楽曲やアーティストのIDはそれぞれの詳細ページを参照してください<br>
        <a href="{{url_for('songs')}}">楽曲一覧</a><br>
        <a href="{{url_for('artists')}}">アーティスト一覧</a>
      </p>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;"><br>
      <a href="{{url_for('concert', id=concert.id)}}">コンサート詳細に戻る</a><br>
      <a href="{{url_for('concerts')}}">コンサート一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
</html>