<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>セットリスト削除</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
        <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>セットリスト削除</h1>
      <p>
        コンサートタイトル: {{concert.title}}<br>
        このコンサートに含まれるセットリスト全てを削除します。<br>
        本当にこの操作を実行してよろしいですか？<br>
        <form method="POST" action="{{url_for('setlist_del_execute', id=id)}}">
          <input type="submit" value="削除実行"  class="del">
        </form>
      </p>
    <p>
      <br>
      <a href="{{url_for('concert', id=concert.id)}}">コンサート詳細に戻る</a><br>
    </p>
    <hr style="margin-top: 20px; margin-bottom: 20px; border-top: 2px solid black; width: 100%;">
    <footer style="display: flex; justify-content: center; gap: 20px; align-items: center; margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('index')}}">TOP</a>
      <a href="{{url_for('cds')}}">CD</a>
      <a href="{{url_for('songs')}}">楽曲</a>
      <a href="{{url_for('artists')}}">アーティスト</a>
      <a href="{{url_for('concerts')}}">コンサート</a>
    </footer>
  </body>
</html>
