<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{song.title}}</title>
  </head>
  <body>
    <h1>楽曲詳細</h1>
    <p>
      タイトル: {{song.title}}<br>
    </p>
    <p>
      <a href="{{url_for('song_edit', id=song.id)}}">編集</a><br>
      <a href="{{url_for('song_del', id=song.id)}}">削除</a>
    </p>
    <h2>収録CD</h2>
      <ul>
      {% for cd in cds %}
        <li><a href="{{url_for('cd', id=cd.cd_id)}}" style="color: black;">{{cd.title}}</a><br>
      {% endfor %}
      </ul>
    <h2>披露されたコンサート</h2>
      <ul>
      {% for concert in concerts %}
        <li><a href="{{url_for('concert', id=concert.concert_id)}}" style="color: black;">{{concert.title}}</a><br>
      {% endfor %}
    <p>
      <hr style="margin-top: 20px; margin-bottom: 20px;"><br>
      <a href="{{url_for('songs')}}">楽曲一覧</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
</html>
