<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{{song.title}}</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <header>
      <h1><a href="{{url_for('index')}}">ディスコグラフィ</a></h1>
    </header>
  </head>
  <body>
    <h1>楽曲詳細</h1>
    <h2>楽曲情報</h2>
      <p>
        楽曲ID: {{song.id}}<br>
        タイトル: {{song.title}}
      </p>
      <p>
        <a href="{{url_for('song_edit', id=song.id)}}">編集</a><br>
        <a href="{{url_for('song_del', id=song.id)}}">削除</a>
      </p>
    <h2>収録CD</h2>
      <ul>
        {% for cd in cds %}
          <li><a href="{{url_for('cd', id=cd.cd_id)}}">{{cd.title}}</a><br>
        {% endfor %}
      </ul>
    <h2>披露されたコンサート</h2>
      <ul>
        {% for concert in concerts %}
          <li><a href="{{url_for('concert', id=concert.concert_id)}}">{{concert.title}}</a>
        {% endfor %}
      </ul>
    <p>
      <br>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('songs')}}">楽曲一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
    <footer>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('index')}}" style="margin-left: 20%;">TOP</a>
      <a href="{{url_for('cds')}}" style="margin-left: 5%;">CD</a>
      <a href="{{url_for('songs')}}" style="margin-left: 5%;">楽曲</a>
      <a href="{{url_for('artists')}}" style="margin-left: 5%;">アーティスト</a>
      <a href="{{url_for('concerts')}}" style="margin-left: 5%;">コンサート</a>
    </footer>
  </body>
</html>
