<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>トラック編集</title>
  </head>
  <body>
    <h1>トラック編集</h1>
    <p>
      登録する楽曲は「楽曲追加」ページで登録済である必要があります。<br>
      <a href="{{url_for('song_add')}}">楽曲追加</a>
    </p>
    <p>
    <form method="POST" action="{{url_for('tracks_edit_update', id=cd_id)}}">
      <p>
        トラックの楽曲変更は同じトラックに対して一括で行います。<br>
      </p>
      <p>
        CDタイトル: {{cd.title}}<br>
      </p>
      {% for track in tracks %}
      <p>
        トラック{{track.track_number}}<br>
        曲名: <input type="text" name="new_song_title" value="{{track.song_title or ''}}"><br>
        アーティスト名: <input type="text" name="new_artist_name" value="{{track.artist_name or ''}}"><br>
        <input type="hidden" name="song_title" value="{{track.song_title}}">
        <input type="hidden" name="artist_name" value="{{track.artist_name}}">
        <input type="hidden" name="track_number" value="{{track.track_number}}">
        <input type="submit" value="トラック{{track.track_number}}に対する編集を確定">
      </p>
      {% endfor %}
    </form>
    <p>
    <p>
      <a href="{{url_for('track_add', id=cd.id)}}">トラック追加</a>
    </p>
      <hr style="margin-top: 20px; margin-bottom: 20px;">
      <a href="{{url_for('cds')}}">CD一覧</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
</html>
