<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>トラック削除</title>
  </head>
  <body>
    <h1>トラック削除</h1>

    <p>
      CDタイトル: {{cd.title}}<br>
      このCDに含まれるトラック全てを削除します。<br>
      本当にこの操作を実行してよろしいですか？<br>
      <form method="POST" action="{{url_for('tracks_del_execute', id=id)}}">
        <input type="submit" value="削除実行">
      </form>
    </p>

    <p>
      <hr style="margin-top: 20px; margin-bottom: 20px;"><br>
      <a href="{{url_for('cds')}}">CD一覧に戻る</a><br>
      <a href="{{url_for('index')}}">TOP</a>
    </p>
  </body>
</html>
